<?xml version="1.0" encoding="UTF-8"?>
<!--
Author：周朔鹏
编制时间：2025-08-05
电子邮件：391902958@qq.com
项目官网：https://www.euipd.com
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.server.mapper.MainShowMenuMapper">
  <resultMap id="BaseResultMap" type="com.course.server.domain.MainShowMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="video_class" jdbcType="VARCHAR" property="videoClass" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="institution_id" jdbcType="CHAR" property="institutionId" />
    <result column="subject_title" jdbcType="VARCHAR" property="subjectTitle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sort, video_class, video_id, institution_id, subject_title
  </sql>
  <select id="selectByExample" parameterType="com.course.server.domain.MainShowMenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from main_show_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from main_show_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from main_show_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.server.domain.MainShowMenuExample">
    delete from main_show_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.server.domain.MainShowMenu">
    insert into main_show_menu (id, sort, video_class, 
      video_id, institution_id, subject_title
      )
    values (#{id,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{videoClass,jdbcType=VARCHAR}, 
      #{videoId,jdbcType=VARCHAR}, #{institutionId,jdbcType=CHAR}, #{subjectTitle,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.course.server.domain.MainShowMenu">
    insert into main_show_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="videoClass != null">
        video_class,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="institutionId != null">
        institution_id,
      </if>
      <if test="subjectTitle != null">
        subject_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="videoClass != null">
        #{videoClass,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="institutionId != null">
        #{institutionId,jdbcType=CHAR},
      </if>
      <if test="subjectTitle != null">
        #{subjectTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.server.domain.MainShowMenuExample" resultType="java.lang.Long">
    select count(*) from main_show_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update main_show_menu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.videoClass != null">
        video_class = #{record.videoClass,jdbcType=VARCHAR},
      </if>
      <if test="record.videoId != null">
        video_id = #{record.videoId,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionId != null">
        institution_id = #{record.institutionId,jdbcType=CHAR},
      </if>
      <if test="record.subjectTitle != null">
        subject_title = #{record.subjectTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update main_show_menu
    set id = #{record.id,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      video_class = #{record.videoClass,jdbcType=VARCHAR},
      video_id = #{record.videoId,jdbcType=VARCHAR},
      institution_id = #{record.institutionId,jdbcType=CHAR},
      subject_title = #{record.subjectTitle,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.server.domain.MainShowMenu">
    update main_show_menu
    <set>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="videoClass != null">
        video_class = #{videoClass,jdbcType=VARCHAR},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="institutionId != null">
        institution_id = #{institutionId,jdbcType=CHAR},
      </if>
      <if test="subjectTitle != null">
        subject_title = #{subjectTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.server.domain.MainShowMenu">
    update main_show_menu
    set sort = #{sort,jdbcType=INTEGER},
      video_class = #{videoClass,jdbcType=VARCHAR},
      video_id = #{videoId,jdbcType=VARCHAR},
      institution_id = #{institutionId,jdbcType=CHAR},
      subject_title = #{subjectTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>