<?xml version="1.0" encoding="UTF-8"?>
<!--
Author：周朔鹏
编制时间：2025-08-05
电子邮件：391902958@qq.com
项目官网：https://www.euipd.com
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.server.mapper.MallGoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.course.server.domain.MallGoodsInfo">
    <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="product_id" jdbcType="CHAR" property="productId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_intro" jdbcType="VARCHAR" property="goodsIntro" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="selling_price" jdbcType="DECIMAL" property="sellingPrice" />
    <result column="stock_num" jdbcType="INTEGER" property="stockNum" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="goods_sell_status" jdbcType="INTEGER" property="goodsSellStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="performance_base_price" jdbcType="INTEGER" property="performanceBasePrice" />
    <result column="platform_purchase_price" jdbcType="INTEGER" property="platformPurchasePrice" />
    <result column="sell_class" jdbcType="INTEGER" property="sellClass" />
    <result column="charge" jdbcType="VARCHAR" property="charge" />
    <result column="institution_id" jdbcType="VARCHAR" property="institutionId" />
    <result column="inst_contact_user_id" jdbcType="VARCHAR" property="instContactUserId" />
    <result column="inst_contract_id" jdbcType="VARCHAR" property="instContractId" />
    <result column="plat_contact_user_id" jdbcType="VARCHAR" property="platContactUserId" />
    <result column="plat_contract_id" jdbcType="VARCHAR" property="platContractId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="product_class" jdbcType="CHAR" property="productClass" />
    <result column="supplier_loginname" jdbcType="CHAR" property="supplierLoginname" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, product_id, goods_name, goods_intro, original_price, selling_price, stock_num, 
    tag, goods_sell_status, create_time, update_time, performance_base_price, platform_purchase_price, 
    sell_class, charge, institution_id, inst_contact_user_id, inst_contract_id, plat_contact_user_id, 
    plat_contract_id, group_id, product_class, supplier_loginname, `status`, image
  </sql>
  <select id="selectByExample" parameterType="com.course.server.domain.MallGoodsInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_goods_info
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mall_goods_info
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.server.domain.MallGoodsInfoExample">
    delete from mall_goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.server.domain.MallGoodsInfo">
    insert into mall_goods_info (goods_id, product_id, goods_name, 
      goods_intro, original_price, selling_price, 
      stock_num, tag, goods_sell_status, 
      create_time, update_time, performance_base_price, 
      platform_purchase_price, sell_class, charge, 
      institution_id, inst_contact_user_id, inst_contract_id, 
      plat_contact_user_id, plat_contract_id, group_id, 
      product_class, supplier_loginname, `status`, 
      image)
    values (#{goodsId,jdbcType=BIGINT}, #{productId,jdbcType=CHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsIntro,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DECIMAL}, #{sellingPrice,jdbcType=DECIMAL}, 
      #{stockNum,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{goodsSellStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{performanceBasePrice,jdbcType=INTEGER}, 
      #{platformPurchasePrice,jdbcType=INTEGER}, #{sellClass,jdbcType=INTEGER}, #{charge,jdbcType=VARCHAR}, 
      #{institutionId,jdbcType=VARCHAR}, #{instContactUserId,jdbcType=VARCHAR}, #{instContractId,jdbcType=VARCHAR}, 
      #{platContactUserId,jdbcType=VARCHAR}, #{platContractId,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{productClass,jdbcType=CHAR}, #{supplierLoginname,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{image,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.course.server.domain.MallGoodsInfo">
    insert into mall_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsIntro != null">
        goods_intro,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="sellingPrice != null">
        selling_price,
      </if>
      <if test="stockNum != null">
        stock_num,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="goodsSellStatus != null">
        goods_sell_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="performanceBasePrice != null">
        performance_base_price,
      </if>
      <if test="platformPurchasePrice != null">
        platform_purchase_price,
      </if>
      <if test="sellClass != null">
        sell_class,
      </if>
      <if test="charge != null">
        charge,
      </if>
      <if test="institutionId != null">
        institution_id,
      </if>
      <if test="instContactUserId != null">
        inst_contact_user_id,
      </if>
      <if test="instContractId != null">
        inst_contract_id,
      </if>
      <if test="platContactUserId != null">
        plat_contact_user_id,
      </if>
      <if test="platContractId != null">
        plat_contract_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="productClass != null">
        product_class,
      </if>
      <if test="supplierLoginname != null">
        supplier_loginname,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="image != null">
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=CHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntro != null">
        #{goodsIntro,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellingPrice != null">
        #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockNum != null">
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellStatus != null">
        #{goodsSellStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="performanceBasePrice != null">
        #{performanceBasePrice,jdbcType=INTEGER},
      </if>
      <if test="platformPurchasePrice != null">
        #{platformPurchasePrice,jdbcType=INTEGER},
      </if>
      <if test="sellClass != null">
        #{sellClass,jdbcType=INTEGER},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=VARCHAR},
      </if>
      <if test="institutionId != null">
        #{institutionId,jdbcType=VARCHAR},
      </if>
      <if test="instContactUserId != null">
        #{instContactUserId,jdbcType=VARCHAR},
      </if>
      <if test="instContractId != null">
        #{instContractId,jdbcType=VARCHAR},
      </if>
      <if test="platContactUserId != null">
        #{platContactUserId,jdbcType=VARCHAR},
      </if>
      <if test="platContractId != null">
        #{platContractId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="productClass != null">
        #{productClass,jdbcType=CHAR},
      </if>
      <if test="supplierLoginname != null">
        #{supplierLoginname,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.server.domain.MallGoodsInfoExample" resultType="java.lang.Long">
    select count(*) from mall_goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_goods_info
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=CHAR},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsIntro != null">
        goods_intro = #{record.goodsIntro,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPrice != null">
        original_price = #{record.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.sellingPrice != null">
        selling_price = #{record.sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.stockNum != null">
        stock_num = #{record.stockNum,jdbcType=INTEGER},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSellStatus != null">
        goods_sell_status = #{record.goodsSellStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.performanceBasePrice != null">
        performance_base_price = #{record.performanceBasePrice,jdbcType=INTEGER},
      </if>
      <if test="record.platformPurchasePrice != null">
        platform_purchase_price = #{record.platformPurchasePrice,jdbcType=INTEGER},
      </if>
      <if test="record.sellClass != null">
        sell_class = #{record.sellClass,jdbcType=INTEGER},
      </if>
      <if test="record.charge != null">
        charge = #{record.charge,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionId != null">
        institution_id = #{record.institutionId,jdbcType=VARCHAR},
      </if>
      <if test="record.instContactUserId != null">
        inst_contact_user_id = #{record.instContactUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.instContractId != null">
        inst_contract_id = #{record.instContractId,jdbcType=VARCHAR},
      </if>
      <if test="record.platContactUserId != null">
        plat_contact_user_id = #{record.platContactUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.platContractId != null">
        plat_contract_id = #{record.platContractId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null">
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.productClass != null">
        product_class = #{record.productClass,jdbcType=CHAR},
      </if>
      <if test="record.supplierLoginname != null">
        supplier_loginname = #{record.supplierLoginname,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_goods_info
    set goods_id = #{record.goodsId,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=CHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_intro = #{record.goodsIntro,jdbcType=VARCHAR},
      original_price = #{record.originalPrice,jdbcType=DECIMAL},
      selling_price = #{record.sellingPrice,jdbcType=DECIMAL},
      stock_num = #{record.stockNum,jdbcType=INTEGER},
      tag = #{record.tag,jdbcType=VARCHAR},
      goods_sell_status = #{record.goodsSellStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      performance_base_price = #{record.performanceBasePrice,jdbcType=INTEGER},
      platform_purchase_price = #{record.platformPurchasePrice,jdbcType=INTEGER},
      sell_class = #{record.sellClass,jdbcType=INTEGER},
      charge = #{record.charge,jdbcType=VARCHAR},
      institution_id = #{record.institutionId,jdbcType=VARCHAR},
      inst_contact_user_id = #{record.instContactUserId,jdbcType=VARCHAR},
      inst_contract_id = #{record.instContractId,jdbcType=VARCHAR},
      plat_contact_user_id = #{record.platContactUserId,jdbcType=VARCHAR},
      plat_contract_id = #{record.platContractId,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      product_class = #{record.productClass,jdbcType=CHAR},
      supplier_loginname = #{record.supplierLoginname,jdbcType=CHAR},
      `status` = #{record.status,jdbcType=CHAR},
      image = #{record.image,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.server.domain.MallGoodsInfo">
    update mall_goods_info
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=CHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntro != null">
        goods_intro = #{goodsIntro,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellingPrice != null">
        selling_price = #{sellingPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockNum != null">
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellStatus != null">
        goods_sell_status = #{goodsSellStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="performanceBasePrice != null">
        performance_base_price = #{performanceBasePrice,jdbcType=INTEGER},
      </if>
      <if test="platformPurchasePrice != null">
        platform_purchase_price = #{platformPurchasePrice,jdbcType=INTEGER},
      </if>
      <if test="sellClass != null">
        sell_class = #{sellClass,jdbcType=INTEGER},
      </if>
      <if test="charge != null">
        charge = #{charge,jdbcType=VARCHAR},
      </if>
      <if test="institutionId != null">
        institution_id = #{institutionId,jdbcType=VARCHAR},
      </if>
      <if test="instContactUserId != null">
        inst_contact_user_id = #{instContactUserId,jdbcType=VARCHAR},
      </if>
      <if test="instContractId != null">
        inst_contract_id = #{instContractId,jdbcType=VARCHAR},
      </if>
      <if test="platContactUserId != null">
        plat_contact_user_id = #{platContactUserId,jdbcType=VARCHAR},
      </if>
      <if test="platContractId != null">
        plat_contract_id = #{platContractId,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="productClass != null">
        product_class = #{productClass,jdbcType=CHAR},
      </if>
      <if test="supplierLoginname != null">
        supplier_loginname = #{supplierLoginname,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.server.domain.MallGoodsInfo">
    update mall_goods_info
    set product_id = #{productId,jdbcType=CHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_intro = #{goodsIntro,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      selling_price = #{sellingPrice,jdbcType=DECIMAL},
      stock_num = #{stockNum,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      goods_sell_status = #{goodsSellStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      performance_base_price = #{performanceBasePrice,jdbcType=INTEGER},
      platform_purchase_price = #{platformPurchasePrice,jdbcType=INTEGER},
      sell_class = #{sellClass,jdbcType=INTEGER},
      charge = #{charge,jdbcType=VARCHAR},
      institution_id = #{institutionId,jdbcType=VARCHAR},
      inst_contact_user_id = #{instContactUserId,jdbcType=VARCHAR},
      inst_contract_id = #{instContractId,jdbcType=VARCHAR},
      plat_contact_user_id = #{platContactUserId,jdbcType=VARCHAR},
      plat_contract_id = #{platContractId,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      product_class = #{productClass,jdbcType=CHAR},
      supplier_loginname = #{supplierLoginname,jdbcType=CHAR},
      `status` = #{status,jdbcType=CHAR},
      image = #{image,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
</mapper>