<?xml version="1.0" encoding="UTF-8"?>
<!--
Author：周朔鹏
编制时间：2025-08-05
电子邮件：391902958@qq.com
项目官网：https://www.euipd.com
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.server.mapper.RdmsMaterialReturnMapper">
  <resultMap id="BaseResultMap" type="com.course.server.domain.RdmsMaterialReturn">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="token_code" jdbcType="CHAR" property="tokenCode" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="origin_code" jdbcType="VARCHAR" property="originCode" />
    <result column="bom_code" jdbcType="VARCHAR" property="bomCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="usage_mode" jdbcType="VARCHAR" property="usageMode" />
    <result column="pre_tax_unit_price" jdbcType="DECIMAL" property="preTaxUnitPrice" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="pre_tax_sum_price" jdbcType="DECIMAL" property="preTaxSumPrice" />
    <result column="sum_price" jdbcType="DECIMAL" property="sumPrice" />
    <result column="sales" jdbcType="VARCHAR" property="sales" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_address" jdbcType="VARCHAR" property="supplierAddress" />
    <result column="writer_id" jdbcType="VARCHAR" property="writerId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="aux_status" jdbcType="VARCHAR" property="auxStatus" />
    <result column="file_list_str" jdbcType="VARCHAR" property="fileListStr" />
    <result column="storage_code" jdbcType="VARCHAR" property="storageCode" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="check_or_not" jdbcType="INTEGER" property="checkOrNot" />
    <result column="check_item_no" jdbcType="VARCHAR" property="checkItemNo" />
    <result column="target_warehouse_code" jdbcType="VARCHAR" property="targetWarehouseCode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="in_bom" jdbcType="INTEGER" property="inBom" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, token_code, code, origin_code, bom_code, `name`, model, unit, amount, usage_mode, 
    pre_tax_unit_price, tax_rate, pre_tax_sum_price, sum_price, sales, contact_phone, 
    supplier_name, supplier_address, writer_id, `status`, aux_status, file_list_str, 
    storage_code, batch_code, warehouse_code, check_or_not, check_item_no, target_warehouse_code, 
    update_time, create_time, in_bom, deleted
  </sql>
  <select id="selectByExample" parameterType="com.course.server.domain.RdmsMaterialReturnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rdms_material_return
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rdms_material_return
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rdms_material_return
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.server.domain.RdmsMaterialReturnExample">
    delete from rdms_material_return
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.server.domain.RdmsMaterialReturn">
    insert into rdms_material_return (id, token_code, code, 
      origin_code, bom_code, `name`, 
      model, unit, amount, 
      usage_mode, pre_tax_unit_price, tax_rate, 
      pre_tax_sum_price, sum_price, sales, 
      contact_phone, supplier_name, supplier_address, 
      writer_id, `status`, aux_status, 
      file_list_str, storage_code, batch_code, 
      warehouse_code, check_or_not, check_item_no, 
      target_warehouse_code, update_time, create_time, 
      in_bom, deleted)
    values (#{id,jdbcType=CHAR}, #{tokenCode,jdbcType=CHAR}, #{code,jdbcType=VARCHAR}, 
      #{originCode,jdbcType=VARCHAR}, #{bomCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, 
      #{usageMode,jdbcType=VARCHAR}, #{preTaxUnitPrice,jdbcType=DECIMAL}, #{taxRate,jdbcType=DECIMAL}, 
      #{preTaxSumPrice,jdbcType=DECIMAL}, #{sumPrice,jdbcType=DECIMAL}, #{sales,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierAddress,jdbcType=VARCHAR}, 
      #{writerId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{auxStatus,jdbcType=VARCHAR}, 
      #{fileListStr,jdbcType=VARCHAR}, #{storageCode,jdbcType=VARCHAR}, #{batchCode,jdbcType=VARCHAR}, 
      #{warehouseCode,jdbcType=VARCHAR}, #{checkOrNot,jdbcType=INTEGER}, #{checkItemNo,jdbcType=VARCHAR}, 
      #{targetWarehouseCode,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{inBom,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.course.server.domain.RdmsMaterialReturn">
    insert into rdms_material_return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tokenCode != null">
        token_code,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="originCode != null">
        origin_code,
      </if>
      <if test="bomCode != null">
        bom_code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="usageMode != null">
        usage_mode,
      </if>
      <if test="preTaxUnitPrice != null">
        pre_tax_unit_price,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="preTaxSumPrice != null">
        pre_tax_sum_price,
      </if>
      <if test="sumPrice != null">
        sum_price,
      </if>
      <if test="sales != null">
        sales,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="supplierAddress != null">
        supplier_address,
      </if>
      <if test="writerId != null">
        writer_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="auxStatus != null">
        aux_status,
      </if>
      <if test="fileListStr != null">
        file_list_str,
      </if>
      <if test="storageCode != null">
        storage_code,
      </if>
      <if test="batchCode != null">
        batch_code,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="checkOrNot != null">
        check_or_not,
      </if>
      <if test="checkItemNo != null">
        check_item_no,
      </if>
      <if test="targetWarehouseCode != null">
        target_warehouse_code,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="inBom != null">
        in_bom,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="tokenCode != null">
        #{tokenCode,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="originCode != null">
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="bomCode != null">
        #{bomCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="usageMode != null">
        #{usageMode,jdbcType=VARCHAR},
      </if>
      <if test="preTaxUnitPrice != null">
        #{preTaxUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="preTaxSumPrice != null">
        #{preTaxSumPrice,jdbcType=DECIMAL},
      </if>
      <if test="sumPrice != null">
        #{sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null">
        #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="writerId != null">
        #{writerId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="auxStatus != null">
        #{auxStatus,jdbcType=VARCHAR},
      </if>
      <if test="fileListStr != null">
        #{fileListStr,jdbcType=VARCHAR},
      </if>
      <if test="storageCode != null">
        #{storageCode,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null">
        #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="checkOrNot != null">
        #{checkOrNot,jdbcType=INTEGER},
      </if>
      <if test="checkItemNo != null">
        #{checkItemNo,jdbcType=VARCHAR},
      </if>
      <if test="targetWarehouseCode != null">
        #{targetWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inBom != null">
        #{inBom,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.server.domain.RdmsMaterialReturnExample" resultType="java.lang.Long">
    select count(*) from rdms_material_return
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rdms_material_return
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.tokenCode != null">
        token_code = #{record.tokenCode,jdbcType=CHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.originCode != null">
        origin_code = #{record.originCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bomCode != null">
        bom_code = #{record.bomCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.usageMode != null">
        usage_mode = #{record.usageMode,jdbcType=VARCHAR},
      </if>
      <if test="record.preTaxUnitPrice != null">
        pre_tax_unit_price = #{record.preTaxUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.taxRate != null">
        tax_rate = #{record.taxRate,jdbcType=DECIMAL},
      </if>
      <if test="record.preTaxSumPrice != null">
        pre_tax_sum_price = #{record.preTaxSumPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.sumPrice != null">
        sum_price = #{record.sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.sales != null">
        sales = #{record.sales,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null">
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierAddress != null">
        supplier_address = #{record.supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.writerId != null">
        writer_id = #{record.writerId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.auxStatus != null">
        aux_status = #{record.auxStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.fileListStr != null">
        file_list_str = #{record.fileListStr,jdbcType=VARCHAR},
      </if>
      <if test="record.storageCode != null">
        storage_code = #{record.storageCode,jdbcType=VARCHAR},
      </if>
      <if test="record.batchCode != null">
        batch_code = #{record.batchCode,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseCode != null">
        warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkOrNot != null">
        check_or_not = #{record.checkOrNot,jdbcType=INTEGER},
      </if>
      <if test="record.checkItemNo != null">
        check_item_no = #{record.checkItemNo,jdbcType=VARCHAR},
      </if>
      <if test="record.targetWarehouseCode != null">
        target_warehouse_code = #{record.targetWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inBom != null">
        in_bom = #{record.inBom,jdbcType=INTEGER},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rdms_material_return
    set id = #{record.id,jdbcType=CHAR},
      token_code = #{record.tokenCode,jdbcType=CHAR},
      code = #{record.code,jdbcType=VARCHAR},
      origin_code = #{record.originCode,jdbcType=VARCHAR},
      bom_code = #{record.bomCode,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DOUBLE},
      usage_mode = #{record.usageMode,jdbcType=VARCHAR},
      pre_tax_unit_price = #{record.preTaxUnitPrice,jdbcType=DECIMAL},
      tax_rate = #{record.taxRate,jdbcType=DECIMAL},
      pre_tax_sum_price = #{record.preTaxSumPrice,jdbcType=DECIMAL},
      sum_price = #{record.sumPrice,jdbcType=DECIMAL},
      sales = #{record.sales,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      supplier_address = #{record.supplierAddress,jdbcType=VARCHAR},
      writer_id = #{record.writerId,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=VARCHAR},
      aux_status = #{record.auxStatus,jdbcType=VARCHAR},
      file_list_str = #{record.fileListStr,jdbcType=VARCHAR},
      storage_code = #{record.storageCode,jdbcType=VARCHAR},
      batch_code = #{record.batchCode,jdbcType=VARCHAR},
      warehouse_code = #{record.warehouseCode,jdbcType=VARCHAR},
      check_or_not = #{record.checkOrNot,jdbcType=INTEGER},
      check_item_no = #{record.checkItemNo,jdbcType=VARCHAR},
      target_warehouse_code = #{record.targetWarehouseCode,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      in_bom = #{record.inBom,jdbcType=INTEGER},
      deleted = #{record.deleted,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.server.domain.RdmsMaterialReturn">
    update rdms_material_return
    <set>
      <if test="tokenCode != null">
        token_code = #{tokenCode,jdbcType=CHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="originCode != null">
        origin_code = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="bomCode != null">
        bom_code = #{bomCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="usageMode != null">
        usage_mode = #{usageMode,jdbcType=VARCHAR},
      </if>
      <if test="preTaxUnitPrice != null">
        pre_tax_unit_price = #{preTaxUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="preTaxSumPrice != null">
        pre_tax_sum_price = #{preTaxSumPrice,jdbcType=DECIMAL},
      </if>
      <if test="sumPrice != null">
        sum_price = #{sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null">
        supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="writerId != null">
        writer_id = #{writerId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="auxStatus != null">
        aux_status = #{auxStatus,jdbcType=VARCHAR},
      </if>
      <if test="fileListStr != null">
        file_list_str = #{fileListStr,jdbcType=VARCHAR},
      </if>
      <if test="storageCode != null">
        storage_code = #{storageCode,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null">
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="checkOrNot != null">
        check_or_not = #{checkOrNot,jdbcType=INTEGER},
      </if>
      <if test="checkItemNo != null">
        check_item_no = #{checkItemNo,jdbcType=VARCHAR},
      </if>
      <if test="targetWarehouseCode != null">
        target_warehouse_code = #{targetWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inBom != null">
        in_bom = #{inBom,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.server.domain.RdmsMaterialReturn">
    update rdms_material_return
    set token_code = #{tokenCode,jdbcType=CHAR},
      code = #{code,jdbcType=VARCHAR},
      origin_code = #{originCode,jdbcType=VARCHAR},
      bom_code = #{bomCode,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      usage_mode = #{usageMode,jdbcType=VARCHAR},
      pre_tax_unit_price = #{preTaxUnitPrice,jdbcType=DECIMAL},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      pre_tax_sum_price = #{preTaxSumPrice,jdbcType=DECIMAL},
      sum_price = #{sumPrice,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      writer_id = #{writerId,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      aux_status = #{auxStatus,jdbcType=VARCHAR},
      file_list_str = #{fileListStr,jdbcType=VARCHAR},
      storage_code = #{storageCode,jdbcType=VARCHAR},
      batch_code = #{batchCode,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      check_or_not = #{checkOrNot,jdbcType=INTEGER},
      check_item_no = #{checkItemNo,jdbcType=VARCHAR},
      target_warehouse_code = #{targetWarehouseCode,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      in_bom = #{inBom,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>